*{
    padding: 0;
    margin: 0;
}



 img{
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: -10px;

}


.container{
	width:400px ;
	height:250px ;
	margin-top:60px ;
	margin-right:460px ;
	float: right ;
	border-radius: 12px;

	background-color: white;
	width:390px ;
	height:250px ;
	text-align:center ;


}


input{
	margin-top:26px ;
	margin-left:-10px ;
	border-radius:8px ;
	margin-right: -10px;
	padding:12px ;
	width:332px ;
    border-color: white;
  
}

input:hover{
    border-color:  #1250a1;
   border-style: solid;
}
button{
	margin-top:75px;
	background-color:#1250a1 ;
	border-radius: 8px;
	padding:1px ;
	width:332px ;
	color:white ;
	font-family:sans-serif ;
	font-size: 20px;


}
 .img1{
	width: 30px;
	left:0px;
}

.container button .img1{
	width: 40px;
	height: 40px;
	margin-left: -270px;
	margin-bottom: -20px;
	margin-top: 4px;
}

.container button p{
	text-align: center;
	margin-bottom:5px;
	margin-right: 50px;
	margin-top: -5px;
	
}

.b1{
    margin-top:15px;
	background-color:#1250a1 ;
	border-radius: 8px;
	padding:12px ;
	width:332px ;
	color:white ;
	font-family:sans-serif ;
	font-size: 20px;
  
}

.s1{
	color:#1877f2 ;
	background:none ;
	margin-left:-200px;
	display: inline-block;

}

