.container{
	width:400px ;
	height:350px ;
	margin-top:-192px ;
	margin-right:160px ;
	float: right ;
	border-radius: 12px;

	background-color: white;
	width:390px ;
	height:350px ;
	text-align:center ;


}


.form{
	float: right;
	margin-right: 120px ;
	
	background-color: white;
	margin-top:10px ;
	padding: 20px;

	
}
input{
	margin-top:12px ;
	margin-left:-10px ;
	border-radius:8px ;
	margin-right: -10px;
	padding:17px ;
	width:332px ;
}

button{
	margin-top: 15px;
	background-color:#1877f2 ;
	border-radius: 8px;
	padding:10px ;
	width: 200px ;
	color:white ;
	font-family:sans-serif ;
	font-size: 16px;


}
p{
	background-color:white ;
	font-size: 16px;
	color: #1877f2;
	margin-top:10px ;

}
p a{
	color:#1877f2 ;
	background:none ;

}

.btn  {

	background-color:white ;
	margin-left:15px ;
	margin-right:30px ;
	 

}
.btn button{
	margin-left:10px ;
	width: 350px;
	height:40px ;
	background-color: #1b9c24;
}